$app-bottom-nav-dark: bottom-nav-theme(
  $background: rgba(0,0,0, .2),
  $label-color: color($app-dark-palette, 'gray', 600),
  $icon-selected-color: #fff,
  $shadow: none
);
@include bottom-nav($app-bottom-nav-dark);
