@use '@angular/material' as mat;

@mixin angular-material() {
  // TODO(v15): As of v15 mat.legacy-core no longer includes default typography styles.
//  The following line adds:
//    1. Default typography styles for all components
//    2. Styles for typography hierarchy classes (e.g. .mat-headline-1)
//  If you specify typography styles for the components you use elsewhere, you should delete this line.
//  If you don't need the default component typographies but still want the hierarchy styles,
//  you can delete this line and instead use:
//    `@include mat.legacy-typography-hierarchy(mat.define-legacy-typography-config());`
@include mat.all-legacy-component-typographies();
@include mat.legacy-core();

  @include nb-for-theme(material-dark) {
    $custom-dark-theme: mat.define-dark-theme(mat.define-palette(mat.$pink-palette), mat.define-palette(mat.$blue-grey-palette));
    @include mat.all-legacy-component-themes($custom-dark-theme);
  }

  @include nb-for-theme(material-light) {
    $custom-light-theme: mat.define-light-theme(mat.define-palette(mat.$indigo-palette), mat.define-palette(mat.$pink-palette));
    @include mat.all-legacy-component-themes($custom-light-theme);
  }
}
