.sample-wrapper {
    width: 100%;
}

.content {
    width: 100%;
}

.content__collapsible {
    width: 100%;
    border: 1px solid hsl(0, 0%, 82%);
    border-radius: .3em;
    box-shadow: 0 1px 2px hsl(0, 0%, 82%);
}

.body_chart {
    height: 800px;
}


.group {
    padding: 0em 0em 1em 0px;
}
.sample-title {
    font-weight: 900;
}

.layout-box {
    border-radius: 6px;
}

