<h5>Assets
  <a href="https://youtu.be/pADncw7BgyE" target="_blank" class="pull-right" style="margin-left:5px">
    <span class="fa fa-youtube"></span>
  </a>
  <a href="https://docs.sravz.com/docs/data/assets/" target="_blank" class="pull-right">
    <span class="fa fa-book"></span>
  </a>
</h5>
<igx-tabs>
  <igx-tab-item>
    <igx-tab-header>
      <span igxTabHeaderLabel>Historical</span>
    </igx-tab-header>
    <igx-tab-content>
      <sravz-asset-list-component></sravz-asset-list-component>
    </igx-tab-content>
  </igx-tab-item>
  <igx-tab-item>
    <igx-tab-header>
      <span igxTabHeaderLabel>User Assets</span>
    </igx-tab-header>
    <igx-tab-content>
      <user-asset-list-component style="padding: 0px"></user-asset-list-component>
    </igx-tab-content>
  </igx-tab-item>
  <igx-tab-item>
    <igx-tab-header>
      <span igxTabHeaderLabel>Overview</span>
    </igx-tab-header>
    <igx-tab-content>
      <iframe data-widget-name="" name="MarketOverview"
        src="https://darqube.com/external-embedding/market-overview?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ3aWRnZXQiOnsib3ZlcnZpZXdfc2VjdGlvbnMiOltdLCJpbnN0cnVtZW50cyI6eyJDUllQVE8iOltdLCJTVE9DS1MiOltdLCJGT1JFWCI6W119fSwid190eXBlIjoiTWFya2V0T3ZlcnZpZXciLCJmZV9jZmciOnsiY2hjbHIiOiJyZ2JhKDYxLCAxODcsIDE1NCwgMSkiLCJjbW9kZSI6MCwiZmNsciI6InJnYmEoMjU1LCAyNTUsIDI1NSwgMSkiLCJiZyI6InJnYmEoMjEsIDI1LCAzMCwgMSkiLCJoIjo5NDAsInciOjMzMCwiYXN6Ijp0cnVlLCJmdCI6ImRlZmF1bHQiLCJodCI6Im5vbmUiLCJ0cmgiOltdLCJjaGMiOiJyZ2JhKDIzNywgNTAsIDk4LCAxKSIsImNuIjoiIiwibG5nIjoiZW4iLCJoZGljbiI6ZmFsc2UsInd0bVYiOnsidHlwZSI6IkRhcnF1YmUiLCJlbmFibGVkIjp0cnVlfSwic21iIjp7fX0sImV4cCI6MTY3NTgyMDcwNSwic3ViIjoiYWNjZXNzIn0.T7C_gypghy-XpCzZYW1CiqdqRtvKikcA-qChI6x4yoo"
        id="MarketOverview" width="100%" height="800"></iframe>
    </igx-tab-content>
  </igx-tab-item>
</igx-tabs>