:host {
    display: block;
    padding: 16px;
}

.signInForm {
    igx-input-group + igx-input-group {
        margin-top: 24px;
    }
}

.title-container{
    display: flex;
    width: 500px;
    igx-icon {
        margin-right: 8px;
    }
}