<h5>Rates Assets
  <a href="https://docs.sravz.com/docs/finance/rates-assets/" target="_blank" class="pull-right">
    <span class="fa fa-book"></span>
  </a>
</h5>
<igx-tabs #tabs>
  <igx-tab-item>
    <igx-tab-header>
      <span igxTabHeaderLabel>World</span>
    </igx-tab-header>
    <igx-tab-content>
      <asset-component [showDetails]="showDetails" [assets]="assets"></asset-component>
    </igx-tab-content>
  </igx-tab-item>
  <igx-tab-item>
    <igx-tab-header>
      <span igxTabHeaderLabel>World Major</span>
    </igx-tab-header>
    <igx-tab-content>
      <iframe frameborder="0" scrolling="no" height=50 width="474" allowtransparency="true" marginwidth="0"
        marginheight="0"
        src="https://sslirates.investing.com/index.php?rows=4&bg1=FFFFFF&bg2=F1F5F8&text_color=333333&enable_border=show&border_color=0452A1&header_bg=0452A1&header_text=FFFFFF&force_lang=1"
        align="center"></iframe><br />
      <table width="200">
        <tbody>
          <tr>
            <td style="text-align:left"><a href="https://www.investing.com" rel="nofollow" target="_blank"><img
                  style="vertical-align:middle;" title="Investing.com" alt="Investing.com" border="0"
                  src="https://92f8049275b46d631f32-c598b43a8fdedd4f0b9230706bd7ad18.ssl.cf1.rackcdn.com/forexpros_en_logo.png"></a>
            </td>
          </tr>
          <tr>
            <td><span style="font-size: 11px;color: #333333;text-decoration: none;">Interest Rates powered by <a
                  href="//www.investing.com/" rel="nofollow" target="_blank"
                  style="font-size: 11px;color: #06529D; font-weight: bold;"
                  class="underline_link">Investing.com</a>.</span></td>
          </tr>
        </tbody>
      </table>
    </igx-tab-content>
  </igx-tab-item>
</igx-tabs>