<!-- Card -->
<!-- <div class="card">
  <div class="card-body" (click)="openLinkInBrowser()">
    <h4 class="card-title">
      <a>{{feed.published}} - {{feed.title}} - {{feed.author}} - {{feed.pubDate | date:'dd-MM-yyyy'}}</a>
    </h4>
    <p class="card-text">{{feed.description | stripHtmlTags}}</p>
  </div>
</div> -->

<!-- <md-card class="card-feed-entry" (click)="openLinkInBrowser()">
    <h1>{{feed.title}}</h1>
    <h1>{{feed.author}} - {{feed.pubDate | date:'dd-MM-yyyy'}}</h1>
    <h1>{{feed.description | stripHtmlTags}}</h1>
  </md-card> -->