<div>

    <igx-grid #grid1 [data]="assestsEvents"  height="600px" [allowFiltering]="true">
        <igx-paginator [perPage]="10">
        </igx-paginator>
        <igx-column [filterable]="false" width="130px">
            <ng-template igxCell let-cell="cell">
                <div class="buttonsArea">
                    <button igxIconButton="flat" (click)="rowDetailParent(cell.row.data)" class="emplBtn">
                        <igx-icon>list</igx-icon>
                    </button>
                </div>
            </ng-template>
        </igx-column>
        <igx-column field="SravzId" header="SravzId">
            <ng-template igxCell let-val>
                <div class="cell__inner">
                    {{ val }}
                </div>
            </ng-template>
        </igx-column>

        <igx-column field="Name" header="Name">
            <ng-template igxCell let-val>
                <div class="cell__inner">
                    {{ val }}
                </div>
            </ng-template>
        </igx-column>

        <igx-column field="Symbol" header="Symbol">
            <ng-template igxCell let-val>
                <div class="cell__inner">
                    {{ val }}
                </div>
            </ng-template>
        </igx-column>

        <igx-column field="Ticker" header="Ticker">
            <ng-template igxCell let-val>
                <div class="cell__inner">
                    {{ val }}
                </div>
            </ng-template>
        </igx-column>


        <igx-column field="Exchange" header="Exchange">
            <ng-template igxCell let-val>
                <div class="cell__inner">
                    {{ val }}
                </div>
            </ng-template>
        </igx-column>

        <igx-column field="Country" header="Country">
            <ng-template igxCell let-val>
                <div class="cell__inner">
                    {{ val }}
                </div>
            </ng-template>
        </igx-column>

        <igx-column field="Type" header="Type">
            <ng-template igxCell let-val>
                <div class="cell__inner">
                    {{ val }}
                </div>
            </ng-template>
        </igx-column>


    </igx-grid>
</div>