<h4><span class="material-icons">policy</span>Sravz LLC - Privacy Policy</h4>

This Privacy Policy describes how your personal information is collected, used, and shared when you visit or make a purchase from https://sravz.com (the “Site”).<br>

<h5>PERSONAL INFORMATION WE COLLECT</h5>
Sravz LLC collects your email ID and full name only when you register for Sravz Services. <b>No other information is collected by Sravz LLC.<br>

<h5>HOW DO WE USE YOUR PERSONAL INFORMATION?</h5>
Sravz LLC uses your email ID and full name to verify your account and allow you to login to the account and use the service. Sravz LLC does not share your information with any other services.<br>

<h5>DO NOT TRACK</h5>
Sravz LLC does not track your usage in the device.<br>

<h5>YOUR RIGHTS</h5>
If you are a European resident, you have the right to access personal information we hold about you and to ask that your personal information be corrected, updated, or deleted. If you would like to exercise this right, please contact us through at https://sravz.com/contactus.<br>

<h5>DATA RETENTION & REQUEST TO DELETE YOUR PERSONAL DATA</h5>
Sravz LLC will delete your account and all the information provided during registration for the service upon request to delete your information.<br>
To request deletion of data please <span class="material-icons">contact_page</span><a href="/contactus">Contact Us</a> or use <a href="/user/profile">User Profile</a> page to remove your User Name/Email ID/Full Name from Sravz LLC services.<br>

<h5>MINORS</h5>
The Site is not intended for individuals under the age of 13.<br>

<h5>CHANGES</h5>
We may update this privacy policy from time to time in order to reflect, for example, changes to our practices or for other operational, legal or regulatory reasons.<br>

<h5>Additional Terms & Conditions</h5>
For additional terms and conditions please visit: <span class="material-icons">gavel</span><a href="https://docs.sravz.com/docs/links/terms-and-conditions/">Sravz LLC Terms & Conditions</a><br>

<h5>CONTACT US</h5>
For more information about our privacy practices, if you have questions, or if you would like to make a complaint, please use below options:<br>
<span class="material-icons">contact_page</span><a href="/contactus">Contact Us</a><br>
<span class="material-icons">mail</span> contactus&#64;sravz.com<br>
<span class="material-icons">contact_mail</span> 3495 US Highway 1 STE 34 #1060Princeton NJ 08540 USA.<br>
