<!-- <div class="layout-sample">
  <form [formGroup]="portfolioSelectorForm" (ngSubmit)="onSubmit()">
    <mat-form-field style="width:100%" class="layout-sample">
      <mat-label>Select Portfolio</mat-label>
      <mat-select formControlName="Portfolio">
        <mat-option>-- None --</mat-option>
        <mat-option *ngFor="let portfolio of portfolios"  [value]="portfolio">
          {{portfolio.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <div class="layout-sample">
        <button [disabled]="portfolioSelectorForm.invalid" mdbBtn type="submit" style="margin-top: 5px;" color="primary" class="pull-right waves-light"
          >Submit</button>
      </div>
  </form>
</div> -->