<h5 class="sample-title">Earnings
  <a href="https://youtu.be/XDh59THPOFg" target="_blank" class="pull-right" style="margin-left:5px">
    <span class="fa fa-youtube"></span>
  </a>
  <a href="https://docs.sravz.com/docs/data/earnings/" target="_blank" class="pull-right">
    <span class="fa fa-book"></span>
  </a>
</h5>

<igx-tabs #tab>
  <igx-tab-item>
    <igx-tab-header>
      <span igxTabHeaderLabel>Latest</span>
    </igx-tab-header>
    <igx-tab-content>
      <form>
        <igx-date-range-picker name="datesRange" #dateRangePicker="ngModel" required [(ngModel)]="range"
          [minValue]="fromDate" [maxValue]="toDate" [placeholder]="'From - To'">
          <label igxLabel>Earnings Dates</label>
          <igx-hint *ngIf="dateRangePicker.invalid && (dateRangePicker.dirty || dateRangePicker.touched)">
            Please choose start and end date!
          </igx-hint>
          <button (click)="refreshEarnings()" igxButton="fab" class="pull-right">
            <igx-icon fontSet="material">refresh</igx-icon>
          </button>
        </igx-date-range-picker>
      </form>
      <div class="layout-sample">
        <div class="layout-box" igxLayout igxLayoutDir="column">
          <div class="layout-box__el" igxFlex igxFlexGrow="0">
            <grid-earnings [earnings]="earnings" (earningsSelected)="onEarningsSelected($event)"></grid-earnings>
          </div>
        </div>
      </div>
    </igx-tab-content>
  </igx-tab-item>
  <igx-tab-item>
    <igx-tab-header>
      <span igxTabHeaderLabel>Analysis</span>
    </igx-tab-header>
    <igx-tab-content>
      <grid-assets [rowSelectionMode]="'single'" [assets]="assets"
        (assetsSelected)="onAssetsSelected($event)"></grid-assets>

      <h5 class="sravztext_center">Earnings Analysis</h5>
      <img *ngIf="earningsAnalysisUrl" [src]="earningsAnalysisUrl" class="sravzimg">
    </igx-tab-content>
  </igx-tab-item>
</igx-tabs>