<div class="col-md-12">
    <iframe [src]="CONTACT_US_URL | safeHtml" style="width: 100%; height: 800px"></iframe>
</div>
<!--     Default form contact
    <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
        <p class="h4 mb-4"></p>
        <input type="text" formControlName="Name" id="defaultContactFormName" class="form-control col-md-4"
            placeholder="Name" style="margin-bottom: 10px">
        <input type="email" formControlName="Email" id="defaultContactFormEmail" class="form-control col-md-4"
            placeholder="E-mail" style="margin-bottom: 10px">
        <select formControlName="Subjects" class="form-control browser-default custom-select col-md-4"
            style="margin-bottom: 10px">
            <option value="" disabled>Select Subject</option>
            <option value="1" selected>Feedback</option>
            <option value="2">Report a bug</option>
            <option value="3">Feature request</option>
        </select>

        <textarea formControlName="Message" class="form-control" id="exampleFormControlTextarea2"
            rows="3" placeholder="Message" style="margin-bottom: 10px"></textarea>

        <re-captcha formControlName="reCaptcha" siteKey="{{siteKey}}" style="margin-bottom: 10px"></re-captcha>

        <button style="margin-top: 10px" color="info" outline="true" block="true"
            class="z-depth-0 col-md-4 waves-effect pull-left" type="submit"
            [disabled]="disabledSubmitButton || contactForm.invalid">Send</button>
    </form>
</div-->

<!-- <div class="col-md-12 pull-left" style="margin-bottom: 20px">
    <h5>Chat on gitter: <a
            href="https://gitter.im/sravzpublic/community?utm_source=share-link&utm_medium=link&utm_campaign=share-link"
            target="_blank" style="margin-left:5px">
            <span class="fa fa-envelope"></span>
        </a></h5>
        <h5>Chat on discord: <a
            href="https://discord.com/channels/917183474824273990/917183475289825342"
            target="_blank" style="margin-left:5px">
            <span class="fa fa-envelope"></span>
        </a></h5>
</div>

<div class="col-md-12">
    <h5 style="text-align: center;">Leave a public comment</h5>
    <disqus [identifier]="pageId" style="width: 100%"></disqus>
</div> -->